<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /planning/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !^/planning/api/
  RewriteRule . /planning/index.html [L]
</IfModule>
